@import url("https://fonts.googleapis.com/css?family=Poppins:200&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
*, *, *:after, *:before {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "Poppins", serif;
  font-weight: 400;
  scroll-behavior: smooth;
  color: #333333;
}

body, main {
  background-color: #f1f3f6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

div, header, nav, footer, section, aside, article {
  display: block;
}

p {
  color: #333333;
}

a {
  color: #353745;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

img {
  width: 100%;
}

/* Main CSS */
.selection {
  position: fixed;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 999999;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.09);
  min-width: 200px;
  padding: 15px 0;
  border-radius: 4px;
}

@media (min-width: 315px) and (max-width: 576px) {
  .selection {
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    border-radius: 0;
  }
  .selection ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.selection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.selection ul li {
  padding: 0 30px;
  text-align: center;
  border-left: 1px solid #c1c6ce;
}

.selection ul li i {
  vertical-align: bottom;
}

.selection ul li:first-child {
  border: none;
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333333;
}

header {
  background-color: #333333;
  padding: 10px;
}

header * {
  color: #fff;
}

@media (min-width: 315px) and (max-width: 576px) {
  main {
    margin-bottom: 100px;
  }
}

main section .color-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

main section .color-container .color-row .color-box {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  position: relative;
  overflow: hidden;
}

main section .color-container .color-row .color-box:hover {
  cursor: url("../images/pen.png"), auto;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
  z-index: 99999;
}

main section .color-container .color-row .color-box:hover::after {
  bottom: 10px;
}

main section .color-container .color-row .color-box::after {
  position: absolute;
  content: 'Click to copy';
  left: 50%;
  bottom: -50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/*# sourceMappingURL=style.css.map */